.body1{
    width: 100%;
    height: fit-content;
    background-color: black;
}
.navbar{
padding: 10px;
background-color: black;
}
.port{
    color: antiquewhite;
    text-align: 40px;
}
.nav{
     display: flex;
    align-items: center;
    justify-content: flex-end; 
    gap: 25px;
    color: rgb(233, 24, 94);
}
.About{
    color: azure;
    text-align: center;
}
.intro{
    font-size: 100px;
}
.des{
    font-size: 30px;
    font-style: italic;
    padding: 50px;
}
.image{
    width: 500px;
    border-radius: 50%;
    border: 20px solid rgb(233, 24, 94);

}
.title{
    font-size: 50px;
    color: chocolate;
}
.story{
    font-size: 20px;
    padding: 30px;
}
