.body{
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #F3F3F3;
    padding: 20px;
    height: 600px;
    
}
.actionCall{
    font-size: 35px;
}
.sub{
    display: flex;
    flex-direction: column;
    gap:30px
}
.span{
    font-size: 25px;
    
}
.email{
    width: 20px;
    height: 20px;
}
.flexBox{
    display: flex;
    gap: 10px;
    align-items: center;
}
.whatsapp{
    width: 20px;
    height: 20px;
}
.anchor{
    color: rgb(235, 15, 15);
    text-decoration: none;
    font-weight: bold;
}